@import "Variables";
@import "foundation/functions";

body{
  background-color: $bgColor;
}

.columns {
  min-height: 1px;
}

header {
  background-color: $accentColor;
}

.headerstyle{
  margin-top :0px;
  margin-bottom: 0px;
  color : $bgColor;
}