@import "Variables";
@import "foundation/functions";

body {
  background-color: $bgColor;
}

.logo {
  font-size: rem-calc(60);
}

.columns {
  min-height: 1px;
}

nav {

  > ul {
    list-style-type: none;
    margin-left: 0;

    > li{
      padding:5px;
    }

    & [class^="fi-"] {
      margin-right: 5px;
    }
  }
}