<header class="row modal">

    <div class="large-8 medium-6 columns">

    </div>
    <div class="large-3 medium-4 columns text-right">
        <span class="fi-male"></span>
        tom.ceuppens.bvba@gmail.com
    </div>
    <div class="large-1 medium-2 columns text-right">
        <span class="fi-power"></span>
        Logout
    </div>

</header>

<section class="row modal">
    <div class="large-12 columns">

        <div class="row">

            <section class="large-2 medium-2 columns">
                {{render 'aeacus.nav'}}
            </section>

            <section class="large-10 medium-10 columns">
                {{outlet}}
            </section>

        </div>
    </div>
</section>