<div class="row">
    <div class="large-12 medium-12 small-12 columns">

        <header class="row">
            <div class="large-1 medium-1 small-1 columns">

            </div>
            <div class="large-2 medium-2 small-2 columns">
                <h4 class="headerstyle bold">AEACUS</h4>
            </div>
            <div class="large-9 medium-9 small-9 columns">

            </div>
        </header>

        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                {{render 'nav'}}
            </div>
        </div>

        <section class="row">
            <div class="large-12 medium-12 small-12 columns">
                {{outlet}}
            </div>
        </section>

    </div>
</div>