<div class="row menubar">
    <div class="large-12 medium-12 small-12 columns">
        <nav>
            <div class="large-1 medium-1 small-1 columns">
            </div>
            {{#link-to 'aeacus.dashboard'}}
                <div class="large-2 medium-2 small-2 columns text-center menuitem">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <span class="fi-compass menuicon"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns menutext">
                            <span>Dashboard</span>
                        </div>
                    </div>
                </div>
            {{/link-to}}
            {{#link-to 'aeacus.calendar'}}
                <div class="large-2 medium-2 small-2 columns text-center menuitem">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <span class="fi-calendar menuicon"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns menutext">
                            <span>Calendar</span>
                        </div>
                    </div>
                </div>
            {{/link-to}}
            {{#link-to 'aeacus.invoices'}}
                <div class="large-2 medium-2 small-2 columns text-center menuitem">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <span class="fi-page-copy menuicon"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns menutext">
                            <span>Invoices</span>
                        </div>
                    </div>
                </div>
            {{/link-to}}
            {{#link-to 'aeacus.creditnotes'}}
                <div class="large-2 medium-2 small-2 columns text-center menuitem">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <span class="fi-page-export menuicon"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns menutext">
                            <span>Credit notes</span>
                        </div>
                    </div>
                </div>
            {{/link-to}}
            {{#link-to 'aeacus.customers'}}
                <div class="large-2 medium-2 small-2 columns text-center menuitem">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <span class="fi-address-book menuicon"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns menutext">
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            {{/link-to}}
            <div class="large-1 medium-1 small-1 columns">
            </div>
        </nav>
    </div>
</div>