<div class="row">
    <div class="large-2 medium-2 small-2 columns">
        {{render 'settings.nav'}}
    </div>
    <div class="large-10 medium-2 small-2 columns">
        {{outlet}}
    </div>
</div>