.idea
.sass-cache
node_modules
bower_components
docs
srv/scripts/libs
public/css
public/libs
public/app
srv/styles/foundation/components
srv/styles/_foundation-icons.scss
srv/styles/normalize.scss
resources