
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        Bankaccounts
    </div>
</div>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        Bankaccounts
    </div>
</div>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        Bankaccounts
    </div>
</div>