<nav>
    <ul>
        <li>{{#link-to 'aeacus.dashboard'}}Dashboard{{/link-to}}</li>
        <li>{{#link-to 'aeacus.bankaccounts'}}Bankaccounts{{/link-to}}</li>
        <li>{{#link-to 'aeacus.invoices'}}Invoices{{/link-to}}</li>
        <li>{{#link-to 'aeacus.creditnotes'}}Credit notes{{/link-to}}</li>
        <li>{{#link-to 'aeacus.customers'}}Customers{{/link-to}}</li>
    </ul>
</nav>

