<nav class="row">
    <ul>
        <li>{{#link-to 'aeacus.dashboard'}}Dashboard<span class="fi-stop"></span>{{/link-to}}</li>
        <li>{{#link-to 'aeacus.bankaccounts'}}Bankaccounts<span class="fi-stop"></span>{{/link-to}}</li>
        <li>{{#link-to 'aeacus.invoices'}}Invoices<span class="fi-stop"></span>{{/link-to}}</li>
        <li>{{#link-to 'aeacus.creditnotes'}}Credit notes<span class="fi-stop"></span>{{/link-to}}</li>
        <li>{{#link-to 'aeacus.customers'}}Customers<span class="fi-stop"></span>{{/link-to}}</li>
    </ul>
</nav>

