<div class="row">
    <div class="small-12 large-12 medium-12 columns text-center">
        <span class="logo fi-eye"></span>
    </div>
</div>
<nav class="row">
    <ul>
        <li>{{#link-to 'aeacus.dashboard'}}<span class="fi-compass"></span>Dashboard{{/link-to}}</li>
        <li>{{#link-to 'aeacus.bankaccounts'}}<span class="fi-euro"></span>Bankaccounts{{/link-to}}</li>
        <li>{{#link-to 'aeacus.invoices'}}<span class="fi-page-copy"></span>Invoices{{/link-to}}</li>
        <li>{{#link-to 'aeacus.creditnotes'}}<span class="fi-page-export"></span>Credit notes{{/link-to}}</li>
        <li>{{#link-to 'aeacus.customers'}}<span class="fi-address-book"></span>Customers{{/link-to}}</li>
    </ul>
</nav>