<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kharon</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/Styles.css">
</head>
<body>

<section class="row main">

    <section class="small-2 columns">
<br />
    </section>
    <section class="small-10 columns">
        <br />
    </section>

</section>

<script type="application/javascript" src="libs/modernizr.js"></script>
<script type="application/javascript" src="libs/jquery.js"></script>
<script type="application/javascript" src="libs/fastclick.js"></script>
<script type="application/javascript" src="libs/foundation.js"></script>

</body>
</html>