<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/Styles.css">
</head>
<body>

<section class="row fullWidth">

    <section class="small-2 columns">

        <nav>
            <header>

            </header>

            <ul class="side-nav">
                <li><a class="fi-compass">Dashboard</a></li>
                <li><a class="fi-magnifying-glass">Search</a></li>
                <li><a class="fi-check">Tasks</a></li>
                <li><a class="fi-page-multiple">Accounting</a></li>
                <li><a class="fi-graph-bar">Statistics</a></li>
                <li><a class="fi-torso">Account</a></li>
            </ul>

            <footer>

            </footer>
        </nav>

    </section>

    <section class="small-10 columns">

    </section>

</section>

<script type="application/javascript" src="libs/modernizr.js"></script>
<script type="application/javascript" src="libs/jquery.js"></script>
<script type="application/javascript" src="libs/fastclick.js"></script>
<script type="application/javascript" src="libs/foundation.js"></script>

</body>
</html>